<div class="container-fluid">
    <p id="notice"><%= notice %></p>
    <h1>Vin's Blog</h1>
    <h3>
        My First Rails Application
    </h3>

    <div class="row">

        <% @articles.each do |article| %>
        <div class="col-md-4">
            <div class="card">
                <!-- <img class="card-img-top" data-src="..." alt="Card image cap"> -->
                <div class="card-block">
                    <h4 class="card-title"><%= article.title %></h4>
                    <p class="card-text"><%= @markdown.render(article.body).html_safe %></p>
                </div>
                <div class="card-footer">
                    <%= link_to 'Show', article , class:'btn btn-primary' %>
                    <%= link_to 'Edit', edit_article_path(article) , class:'btn btn-success' %>
                    <%= link_to 'Destroy', article, class:'btn btn-danger',
                 method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
            </div>

        </div>

        <% end %>

    </div>

    <br>

    <%= link_to 'New Article', new_article_path, class:'btn btn-warning' %>
</div>
